/**********************************************************************************************/
/***** HEADER *********************************************************************************/
/**********************************************************************************************/
#mobile_nav_toggle {
    display:none;
    position:absolute;
    right:0;
    top:5px;
    width:70px;
    height:50px;
    margin:0 auto;
    cursor: pointer;
    outline:none;
    background:none;
    z-index:10010;
    transition:all 0.3s;
    
    &.open {
        top:5px;
    }
    
    .inner {
        position:absolute;
        right:0;
        top:16px;
        width:24px;
        height:21px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }
}
#mobile_nav_toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#mobile_nav_toggle.open span {
    background: $white;
}
#mobile_nav_toggle span:nth-child(1) {
    top: 0px;
}
#mobile_nav_toggle span:nth-child(2),
#mobile_nav_toggle span:nth-child(3) {
    top: 9px;
}
#mobile_nav_toggle span:nth-child(4) {
    top: 18px;
}
#mobile_nav_toggle.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
}
#mobile_nav_toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}
#mobile_nav_toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#mobile_nav_toggle.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
}

#mobile_nav_tray {
    display:none;
    position:fixed;
    top:60px;
    bottom:0;
    width:100%;
    height:calc(100vh - 60px);
    padding:20px 20px 140px;
    box-sizing:border-box;
    overflow:scroll;
    z-index:10000;
    background:$purple_dark;
    
    .mobile_nav_open & {
        
    }
}

.site-header {
    //position:relative;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    background:$purple_dark;
    border-bottom:1px solid $white;
    height:80px;
    transition:all 0.3s linear;
    z-index:1000;
    
    .mobile_nav_open & {
        
    }
    
    .grid-pad {
        padding-top:0;
    }
    
    &.scrolling {
        /*position:fixed;
        top:-100%;
        width:100%;
        background: $white;*/
        height:80px;
    }
    
    .gated_landing & {
        display:none;
    }
}

.header_inner {
    position:relative;
    //width:100%;
    width:calc(100% - 80px);
    height:100%;
    margin:0 auto;
    box-sizing: border-box;
}

.site-title {
    float:left;
    display:block;
    width:160px;
    max-width:100%;
    //height:106px;
    height:auto;
    margin:26px 0 0 0;
    z-index:1000;
    box-sizing:border-box;
    vertical-align:top;
    transition:all 0.3s linear;
    
    .scrolling & {
        margin:26px 0 0 0;
        
        .mobile_nav_open & {
            
        }
        
        .home & {
            
        }
        
        > a {
            
        }
    }
    
    .mobile_nav_open & {
        
    }
    
    > a {
        display:block;
        width:100%;
        
        img {
            display:block;
            width:100%;
        }
        
        &:hover {
            text-decoration:none;
        }
    }
    
    .home & {
        
    }
}

.header_right {
    margin:0;
    z-index:1000;
    transition:all 0.3s linear;
    
    .scrolling & {
        margin-top:0;
        
        .home & {
            margin-top:0;
        }
    }
}

@media only screen and (max-width: 990px) {

    #mobile_nav_toggle {
        display:block;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    
    #mobile_nav_toggle {
        top:15px;
    }
    
    #mobile_nav_tray {
        top:80px;
        height:calc(100vh - 80px);
        padding:20px 40px 140px;
    }
    
}

@media only screen and (max-width: 767px) {
    
    #mobile_nav_toggle {
    
        &.open {
            
        }
    }
    
    .site-header {
        position:relative;
        height:60px;
    }
    
    .header_inner {
        width:calc(100% - 40px);
    }

    .site-title {
        margin-top:17px;
        
        .scrolling & {
            margin-top:17px;
        }
    }
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media screen and (min-width: 1025px) and (max-width: 1260px) {
    
    
    
}