/**********************************************************************************************/
/***** GLOBAL *********************************************************************************/
/**********************************************************************************************/


@media only screen and (max-width: 767px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

/* GRID ACCESSORIES */
.grid {
    > div {
        
        &.flush_right {
            
            > .cont {
                width:calc(100% + #{$gutter});
                margin-right:(-$gutter);
            }
        }
        
        &.flush_left {
            
            > .cont {
                width:calc(100% + #{$gutter});
                margin-left:(-$gutter);
            }
        }
        
        &.flush_left_right {
            padding-right:0;
            > .cont {
                width:calc(100% + #{$gutter} + #{$gutter});
                margin-left:(-$gutter);
                margin-right:(-$gutter);
            }
        }
        
        > .cont {
            
        }
    }
}

/*@media screen and (min-width: #{$bp_full}) {
    .grid > div.flush_right > .cont {
        width: calc(100% + (((100vw - #{$bp_full}) / 2) + #{$gutter}));
        margin-right: calc(-1 * (((100vw - #{$bp_full}) / 2) + #{$gutter}));
    }
    .grid > div.flush_left > .cont {
        width: calc(100% + (((100vw - #{$bp_full}) / 2) + #{$gutter}));
        margin-left: calc(-1 * (((100vw - #{$bp_full}) / 2) + #{$gutter}));
    }
}*/

/** TOC: **/
/** UNIQUE GUTENBERG BLOCKS **/
/** HOMEPAGE **/

/**********************************************************************************************/
/***** UNIQUE GUTENBERG BLOCKS ****************************************************************/
/**********************************************************************************************/
.img_cont {
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
        .img {
            
        }
    }
    
    .cont {
        
        
        .inner_content {
            padding:0 60px;
        }
    }
    
    .img {
        position:relative;
        
        .inner_content {
            float:right;
            position:relative;
            margin:0 auto;
            padding-right:60px;
            z-index:15;
        }
        
        img {
            display:block;
            width:100%;
        }
    }
}

.cta_buckets {
    
    
    .cta {
        padding:0 40px;
    }
    
    .btn {
        margin-bottom:0;
    }
}

.team_grid {
    
    
    .team {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        list-style:none;
        margin:80px 0 0 0;
        padding:0;
    
        .gridblock {
            float:left;
            vertical-align:top;
            width:calc(33.33% - 14px);
            margin:0 0 60px 20px;
            
            &:first-of-type {
                margin-left:0 !important;
            }
            
            &:nth-of-type(3n + 1) {
                margin-left:0;
            }
        }
        
        .inner {
            margin:0;
            padding:0 10%;
            text-align:center;
            
            .headshot {
                display:inline-block;
                position:relative;
                height:180px;
                width:180px;
                border-radius:100px;
                overflow:hidden;
                border:3px solid $orange;
                margin:0 auto 40px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
            
            p {
                margin:0 0 0.75em;
                color:$nearlyblack;
                font-family:$ssans;
            }
        }
        
        .social {
            a {
                display:inline-block;
                position:relative;
                width:32px;
                height:33px;
                margin:0 0 0 10px;
                border:none;
                background: none;
                text-indent:-9999px;
                overflow:hidden;
                vertical-align:middle;
                transition:all 0.3s;
                color: $black;
        
                &.first {
                    margin-left:0;
                }
        
                svg {
                    display:block;
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin:0;
                    width:32px;
                    height:33px;
                    transition: all 0.2s;
                    transform:translate(-50%, -50%);
                    
                    .bg {
                        opacity:0;
                    }
            
                    .icon {
                        transition: all 0.3s;
                        fill: $purple_dark;
                    }
                }
        
                &:hover {
            
                    svg .icon {
                        fill: $orange;
                    }
                }
            }
        }
    }
}

.logo_grid {
    
    
    .logos {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        list-style:none;
        margin:80px 0 0 0;
        padding:0;
    
        .gridblock {
            float:left;
            vertical-align:top;
            width:calc(25% - 20px);
            margin:0 0 60px 20px;
            
            &:first-of-type {
                margin-left:0 !important;
            }
            
            &:nth-of-type(4n + 1) {
                margin-left:0;
            }
        }
        
        .inner {
            margin:0;
            text-align:center;
            
            .logo {
                display:inline-block;
                position:relative;
                height:96px;
                width:90%;
                margin:0 auto 10px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
        }
    }
}

.fw_cta {
    
    
    h2 {
        margin:0 0 0.75em;
        text-transform:none;
        letter-spacing:0;
        font-weight:$semibold;
        color: $white;
        
        &.lined {
            margin:0 0 1.5em;
            text-transform:uppercase;
            
            &:after {
                background: $white;
            }
        }
    }
    
    p {
        margin:0 0 2.25em;
        color: $white;
    }
    
    .social_wrap {
        margin-bottom:40px;
        
        a {
            display:inline-block;
            position:relative;
            width:44px;
            height:45px;
            margin:0 0 0 20px;
            border:none;
            background: none;
            text-indent:-9999px;
            overflow:hidden;
            vertical-align:middle;
            transition:all 0.3s;
            color: $white;
    
            &.first {
                margin-left:0;
            }
    
            svg {
                display:block;
                position:absolute;
                left:50%;
                top:50%;
                margin:0;
                width:44px;
                height:45px;
                transition: all 0.2s;
                transform:translate(-50%, -50%);
                
                .bg {
                    opacity:0;
                }
        
                .icon {
                    transition: all 0.3s;
                    fill: $white;
                }
            }
    
            &:hover {
        
                svg .icon {
                    fill: $orange;
                }
            }
        }
    }
    
    .ctas_wrap {
        
        
        .btn {
            margin:0 0 10px 40px;
            
            &:first-of-type {
                margin-left:0;
            }
            
            /*&:hover {
                background:$orange !important;
                border-color: $orange !important;
            }*/
        }
    }
}

.logos_cont {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .logos {
        .inner_content {
            padding:0 60px;
        }
    }
    
    .cont {
        
        .inner {
            padding:0 60px;
        }
        
        .inner_content {
            position:relative;
            padding:60px;
            background:$offwhite;
            
            &:after {
                position:absolute;
                right:-40px;
                top:100px;
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 0 24px 40px;
                border-color: transparent transparent transparent $offwhite;
                content:'';
            }
        }
        
        &.flip .inner_content {
            
            &:after {
                right:auto;
                left:-40px;
                border-width: 24px 40px 24px 0;
                border-color: transparent $offwhite transparent transparent;
            }
        }
    }
    
    .logos_stagger {
        
        
        li {
            
            
            .logo {
                float:left;
                display:inline-block;
                width:auto;
                max-width:40%;
                margin-bottom:20px;
                
                img {
                    display:block;
                    width:100%;
                }
            }
            
            &:nth-child(even) {
                
                
                .logo {
                    float:right;
                }
            }
            
            &:last-of-type {
                
                .logo {
                    margin-bottom:0;
                }
            }
        }
    }
}

.test_cont {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .cont {
        .inner_content {
            padding:0 60px;
        }
    }
    
    .test {
        
        .inner {
            padding:0 60px;
        }
        
        .inner_content {
            position:relative;
            padding:60px;
            background:$white;
            
            &:after {
                position:absolute;
                right:-40px;
                top:100px;
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 0 24px 40px;
                border-color: transparent transparent transparent $white;
                content:'';
            }
        }
        
        &.flip .inner_content {
            
            &:after {
                right:auto;
                left:-40px;
                border-width: 24px 40px 24px 0;
                border-color: transparent $white transparent transparent;
            }
        }
    }
    
    .logos_stagger {
        
        
        li {
            
            
            .logo {
                float:left;
                display:inline-block;
                width:auto;
                max-width:40%;
                margin-bottom:20px;
                
                img {
                    display:block;
                    width:100%;
                }
            }
            
            &:nth-child(even) {
                
                
                .logo {
                    float:right;
                }
            }
            
            &:last-of-type {
                
                .logo {
                    margin-bottom:0;
                }
            }
        }
    }
}

.testimonial {
    background:$blue;
    
    .content_section_inner {
        padding-top:100px;
        padding-bottom:160px;
    }
    
    * {
        color:$white;
    }
    
    h3 {
        margin-bottom:2em;
    }
    
    blockquote {
        color:$white;
    }
    cite {
        color:$white;
    }
    
    .img {
        
        img {
            display:block;
            width:100%;
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

/**********************************************************************************************/
/***** INLINE CTAs - LISTING PAGES ************************************************************/
/**********************************************************************************************/
.inline_cta {
    margin-bottom:40px;
    width:100%;
    
    &.test {
        padding:60px;
        background:#f2f3f8;
        
        .meta {
            
            .inner {
                
            }
            
            .headshot {
                display:inline-block;
                position:relative;
                height:114px;
                width:114px;
                border-radius:100px;
                overflow:hidden;
                border:1px solid $purple_dark;
                margin:0 auto 40px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
            
            p {
                margin:0;
            }
        }
        
        .quote {
            
            
            .inner {
                padding:0 40px;
            }
            
            img {
                display:block;
                width:50%;
                max-width:300px;
                margin:0 0 40px;
            }
            
            p {
                margin:0;
            }
        }
    }
}

/**********************************************************************************************/
/***** SUCCESS STORIES ************************************************************************/
/**********************************************************************************************/
#success_stories {
    width:calc(100% - 80px);
    margin:0 auto;
    padding:60px 0;
    
    //FILTERS
    #alm-filters-ssfilter {
        padding-right:40px;
        
        .alm-filter {
            margin-bottom:50px;
        
            ul {
                margin:0;
                padding:0;
                list-style:none;
            
                > li {
                    margin:0;
                    padding:0;
                    list-style:none;
                
                    .alm-filter--link {
                        display:block;
                        padding:10px 10px 10px 15px;
                        font-size:1em;
                        color:$black;
                        line-height:1.3em;
                        outline:none;
                        cursor:pointer;
                        @include background-opacity($orange, 0.0);
                        transition:all 0.3s;
                                        
                        &:hover,
                        &.active {
                            @include background-opacity($orange, 0.15);
                        }
                    }
                }
            }
        }
        .alm-filter--title {
        
            h3 {
                margin:0 0 1em;
                color: $black;
                font-size:1.22em;
                font-weight:$semibold;
                text-transform:none;
                letter-spacing:0;
            }
        }
    }
    
    .alm-btn-wrap {
        opacity:0;
        visibility:hidden;
        text-align:center;

        .btn {
            margin:0;
        }
    }
    
    //SS GRID
    #success-stories-list {
        
        .alm-reveal.alm-filters {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;
    
            .ajax-load-more-wrap {
                width:100%;
            }
        }
        
        .item {
            position:relative;
            float:left;
            width:calc(33.3333% - 27px);
            margin:0 0 40px 40px;
            z-index:10;
            background:#f2f3f8;
    
            &:nth-of-type(3n + 1) {
                margin-left:0;
            }
            
            .top {
                position:relative;
                z-index:12;
                box-shadow:0 0 15px rgba(20,25,32,0.15);
                background:$white;
                
                .inner {
                    display:flex;
                    align-items:center;
                    position:relative;
                    padding:40px;
                    height:230px;
                    box-sizing:border-box;
                }
                
                img {
                    display:block;
                    width:100%;
                }
                
                .vertical {
                    position:absolute;
                    left:0;
                    bottom:5px;
                    display:block;
                    padding:5px;
                    width:100%;
                    font-size:0.78em;
                    color:$gray;
                    line-height:1.25em;
                    box-sizing:border-box;
                    text-align:center;
                }
            }
            
            .btm {
                background:none;
                z-index:11;
                
                .inner {
                    position:relative;
                    padding:30px 40px 80px 20px;
                }
                
                p {
                    margin:0;
                }
            }
            
            .rm_wrap {
                position:absolute;
                left:20px;
                bottom:20px;
            }
        }
    }
}