/**********************************************************************************************/
/***** GLOBAL *********************************************************************************/
/**********************************************************************************************/


@media only screen and (max-width: 767px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

/* GRID ACCESSORIES */
.grid {
    > div {
        
        &.flush_right {
            
            > .cont {
                width:calc(100% + #{$gutter});
                margin-right:(-$gutter);
            }
        }
        
        &.flush_left {
            
            > .cont {
                width:calc(100% + #{$gutter});
                margin-left:(-$gutter);
            }
        }
        
        &.flush_left_right {
            padding-right:0;
            > .cont {
                width:calc(100% + #{$gutter} + #{$gutter});
                margin-left:(-$gutter);
                margin-right:(-$gutter);
            }
        }
        
        > .cont {
            
        }
    }
}

/*@media screen and (min-width: #{$bp_full}) {
    .grid > div.flush_right > .cont {
        width: calc(100% + (((100vw - #{$bp_full}) / 2) + #{$gutter}));
        margin-right: calc(-1 * (((100vw - #{$bp_full}) / 2) + #{$gutter}));
    }
    .grid > div.flush_left > .cont {
        width: calc(100% + (((100vw - #{$bp_full}) / 2) + #{$gutter}));
        margin-left: calc(-1 * (((100vw - #{$bp_full}) / 2) + #{$gutter}));
    }
}*/

/** TOC: **/
/** UNIQUE GUTENBERG BLOCKS **/
/** HOMEPAGE **/

/**********************************************************************************************/
/***** UNIQUE GUTENBERG BLOCKS ****************************************************************/
/**********************************************************************************************/
.img_cont {
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
        .img {
            
        }
    }
    
    .cont {
        
        
        .inner_content {
            padding:0 60px;
        }
    }
    
    .img {
        position:relative;
        
        .inner_content {
            float:right;
            position:relative;
            margin:0 auto;
            padding-right:60px;
            z-index:15;
        }
        
        img {
            display:block;
            width:100%;
        }
    }
}

.cta_buckets {
    
    
    .cta {
        padding:0 40px;
    }
    
    .btn {
        margin-bottom:0;
    }
}

.team_grid {
    
    
    .team {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        list-style:none;
        margin:80px 0 0 0;
        padding:0;
    
        .gridblock {
            float:left;
            vertical-align:top;
            width:calc(33.33% - 14px);
            margin:0 0 60px 20px;
            
            &:first-of-type {
                margin-left:0 !important;
            }
            
            &:nth-of-type(3n + 1) {
                margin-left:0;
            }
        }
        
        .inner {
            margin:0;
            padding:0 10%;
            text-align:center;
            
            .headshot {
                display:inline-block;
                position:relative;
                height:180px;
                width:180px;
                border-radius:100px;
                overflow:hidden;
                border:3px solid $orange;
                margin:0 auto 40px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
            
            p {
                margin:0 0 0.75em;
                color:$nearlyblack;
                font-family:$ssans;
            }
        }
        
        .social {
            a {
                display:inline-block;
                position:relative;
                width:32px;
                height:33px;
                margin:0 0 0 10px;
                border:none;
                background: none;
                text-indent:-9999px;
                overflow:hidden;
                vertical-align:middle;
                transition:all 0.3s;
                color: $black;
        
                &.first {
                    margin-left:0;
                }
        
                svg {
                    display:block;
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin:0;
                    width:32px;
                    height:33px;
                    transition: all 0.2s;
                    transform:translate(-50%, -50%);
                    
                    .bg {
                        opacity:0;
                    }
            
                    .icon {
                        transition: all 0.3s;
                        fill: $purple_dark;
                    }
                }
        
                &:hover {
            
                    svg .icon {
                        fill: $orange;
                    }
                }
            }
        }
    }
}

.logo_grid {    
    
    .logos {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        list-style:none;
        margin:80px 0 0 0;
        padding:0;
    
        .gridblock {
            float:left;
            vertical-align:top;
            width:calc(25% - 20px);
            margin:0 0 60px 20px;
            
            &:first-of-type {
                margin-left:0 !important;
            }
            
            &:nth-of-type(4n + 1) {
                margin-left:0;
            }
        }
        
        .inner {
            margin:0;
            text-align:center;
            
            .logo {
                display:inline-block;
                position:relative;
                height:96px;
                width:90%;
                margin:0 auto 10px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
        }
        
        &.three {
            
            .gridblock {
                width:calc(25% - 60px);
                margin:0 0 60px 80px;
            
                &:nth-of-type(4n + 1) {
                    margin-left:60px;
                }
            }
        }
    }
}

.fw_cta {
    
    
    h2 {
        margin:0 0 0.75em;
        text-transform:none;
        letter-spacing:0;
        font-weight:$semibold;
        color: $white;
        
        &.lined {
            margin:0 0 1.5em;
            text-transform:uppercase;
            
            &:after {
                background: $white;
            }
        }
    }
    
    p {
        margin:0 0 2.25em;
        color: $white;
        
        span {
            color: $orange;
        }
    }
    
    .social_wrap {
        margin-bottom:40px;
        
        a {
            display:inline-block;
            position:relative;
            width:44px;
            height:45px;
            margin:0 0 0 20px;
            border:none;
            background: none;
            text-indent:-9999px;
            overflow:hidden;
            vertical-align:middle;
            transition:all 0.3s;
            color: $white;
    
            &.first {
                margin-left:0;
            }
    
            svg {
                display:block;
                position:absolute;
                left:50%;
                top:50%;
                margin:0;
                width:44px;
                height:45px;
                transition: all 0.2s;
                transform:translate(-50%, -50%);
                
                .bg {
                    opacity:0;
                }
        
                .icon {
                    transition: all 0.3s;
                    fill: $white;
                }
            }
    
            &:hover {
        
                svg .icon {
                    fill: $orange;
                }
            }
        }
    }
    
    .ctas_wrap {
        
        
        .btn {
            margin:0 0 10px 40px;
            
            &:first-of-type {
                margin-left:0;
            }
            
            /*&:hover {
                background:$orange !important;
                border-color: $orange !important;
            }*/
        }
    }
}

.logos_cont {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .logos {
        .inner_content {
            padding:0 60px;
        }
    }
    
    .cont {
        
        .inner {
            padding:0 60px;
        }
        
        .inner_content {
            position:relative;
            padding:60px;
            background:$offwhite;
            
            &:after {
                position:absolute;
                right:-40px;
                top:100px;
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 0 24px 40px;
                border-color: transparent transparent transparent $offwhite;
                content:'';
            }
        }
        
        &.flip .inner_content {
            
            &:after {
                right:auto;
                left:-40px;
                border-width: 24px 40px 24px 0;
                border-color: transparent $offwhite transparent transparent;
            }
        }
    }
    
    .logos_stagger {
        
        
        li {
            
            
            .logo {
                float:left;
                display:inline-block;
                width:auto;
                max-width:40%;
                margin-bottom:20px;
                
                img {
                    display:block;
                    width:100%;
                }
            }
            
            &:nth-child(even) {
                
                
                .logo {
                    float:right;
                }
            }
            
            &:last-of-type {
                
                .logo {
                    margin-bottom:0;
                }
            }
        }
    }
}

.test_cont {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .cont {
        .inner_content {
            padding:0 60px;
        }
    }
    
    .test {
        
        .inner {
            padding:0 60px;
        }
        
        .inner_content {
            position:relative;
            padding:60px;
            background:$white;
            
            &:after {
                position:absolute;
                right:-40px;
                top:100px;
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 0 24px 40px;
                border-color: transparent transparent transparent $white;
                content:'';
            }
        }
        
        &.flip .inner_content {
            
            &:after {
                right:auto;
                left:-40px;
                border-width: 24px 40px 24px 0;
                border-color: transparent $white transparent transparent;
            }
        }
    }
    
    .logos_stagger {
        
        
        li {
            
            
            .logo {
                float:left;
                display:inline-block;
                width:auto;
                max-width:40%;
                margin-bottom:20px;
                
                img {
                    display:block;
                    width:100%;
                }
            }
            
            &:nth-child(even) {
                
                
                .logo {
                    float:right;
                }
            }
            
            &:last-of-type {
                
                .logo {
                    margin-bottom:0;
                }
            }
        }
    }
}

.testimonial {
    background:$blue;
    
    .content_section_inner {
        padding-top:100px;
        padding-bottom:160px;
    }
    
    * {
        color:$white;
    }
    
    h3 {
        margin-bottom:2em;
    }
    
    blockquote {
        color:$white;
    }
    cite {
        color:$white;
    }
    
    .img {
        
        img {
            display:block;
            width:100%;
        }
    }
}

.icon_label_grid {
    
    
    .content_section_inner {
        padding:100px 0 20px;
    }
    
    h3 {
        color: $purple_dark;
        text-transform:none;
        letter-spacing:1px;
    }
    
    .icons {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:top;
        margin:80px auto 0;
        width:80%;
        
        .bucket {
            width:33.33%;
            margin:0 auto 80px;
            padding:0 30px;
            box-sizing:border-box;
            text-align:center;
        }
        
        .icon {
            display:block;
            width:120px;
            height:120px;
            margin:0 auto 50px;
            background:transparent;
            background-repeat:no-repeat;
            background-position:center bottom;
            background-size:100% auto;
        }
        
        
    }
}

.values_tenets {
    
    
    h2 {
        
        &.lined_left {
            
            &:after {
                background:$white;
            }
        }
    }
    
    p,
    li,
    h5,
    h6 {
        color: $white;
    }
    
    h3,
    h4 {
        color: $orange;
    }
    
    h5 {
        margin:0 0 0.75em;
    }
    
    .tenets {
        display:flex;
        flex-wrap:wrap;
        justify-content:left;
        align-items:top;
        margin:80px 0 0 0;
        
        .bucket {
            width:50%;
            margin:0 0 50px;
            padding:0;
            box-sizing:border-box;
            
            &:nth-of-type(even) {
                padding:0 0 0 60px;
            }
            &:nth-of-type(odd) {
                padding:0 60px 0 0;
            }
        }
        
        .inner {
            
        }
    }
}

.blog_picker {
    
    h3 {
        color: $purple_dark;
        text-transform:none;
        letter-spacing:1px;
    }
    
    .featured_posts {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:flex-start;
        margin:80px 0 50px;
    }
    
    .item {
        position:relative;
        float:left;
        width:calc(33.3333% - 27px);
        margin:0 0 40px 40px;
        z-index:10;
        background:$white;

        &:nth-of-type(3n + 1) {
            margin-left:0;
        }
        
        .top {
            position:relative;
            z-index:12;
            background:$white;
            
            .inner {
                padding:40px;
                height:230px;
                box-sizing:border-box;
                background:$blue;
                background-repeat:no-repeat;
                background-position: center center;
                background-size:cover;
            }
        }
        
        .btm {
            background:none;
            z-index:11;
            
            .inner {
                position:relative;
                padding:30px 40px 80px 20px;
            }
            
            h4 {
                margin:0 0 0.75em;
                font-weight: $normal;
                color: $black;
                text-transform:none;
                letter-spacing:0;
            }
            
            p {
                margin:0;
            }
        }
        
        .rm_wrap {
            position:absolute;
            left:20px;
            bottom:20px;
        }
    }
}

.narrow_wys {
    
    
    .inner {
        margin:0 auto;
        width:70%;
        max-width:900px;
    }
}

.inset_right_col {
    
    
    .content_section_inner {
        width:80%;
    }
    
    .left {
        
        .inner {
            padding-right:70px;
        }
    }
    
    .right {
        
        
        .inner {
            background:$gray_lightest;
            padding:36px 36px 10px;
        }
        
        h4 {
            font-size:1.11em;
            letter-spacing:1px;
        }
        
        ul {
            margin:0 0 1.56em 20px;
            
            li {
                color: $nearlyblack;
            }
        }
        
        a {
            text-decoration:underline;
            
            &:hover {
                
            }
        }
    }
    
    &.light-gray {
        
        .right .inner {
            background:$white;
        }
    }
}

.skinny_cta {
    background: $purple_dark;
    
    .content_section_inner {
        padding-top:30px;
        padding-bottom:30px;
    }
    
    .vert_align {
        width:70%;
        margin:0 auto;
        
        .inner {
            display:flex;
            align-items:center;
            justify-content:center;
            height:100%;
        }
        .ct {
            
        }
    }
    
    .cont {
        padding-right:60px;
        
        p {
            font-size:1.22em;
        }
        
        * {
            color: $white;
        }
    }
    
    .ct {
        text-align:center;
        
        .btn {
            margin:0;
        }
    }
    
    &.light-gray,
    &.light-blue {
        
        
        .cont {
        
            * {
                color: $black;
            }
        }
    }
    
    &.flip {
        .cont {
            padding-right:0;
            padding-left:60px;
        }
    }
}

.form_embed {
    
    
    &.purple-dark {
        
        h2 {
            margin:0 0 0.75em;
            text-transform:none;
            letter-spacing:0;
            color: $white;
            
            &:after {
                display:none;
            }
        }
    }
}

.icon_cont_list {
    
    .intro {
        width:70%;
        margin:0 auto 80px;
    }
    
    
    .icon_cont_blocks {
        
        
        .bucket {
            display:block;
            background:none;
            margin-bottom:100px;
            
            &:last-of-type {
                margin-bottom:0;
            }
        }
        
        .inner {
            
        }
        
        .icon {
            float:left;
            width:28%;
            
            img {
                display:block;
                width:130px;
                margin:0 auto;
            }
        }
        
        .cont {
            float:left;
            width:72%;
        }
        
        h3 {
            text-align:left;
            color: $purple_dark;
            text-transform:none;
            font-size:1.67em;
            font-weight:$semibold;
            letter-spacing:1px;
        }
        
        &.two_up {
            
            .inner {
                padding:96px 96px 80px;
            }
            
            .bucket {
                display:inline-block;
                vertical-align:top;
                width:calc(50% - 40px);
                margin:0 0 40px 40px;
                background:$gray_lightest;
                
                &:nth-of-type(2n+1) {
                    margin-left:0;
                }
            }
            
            .vert_align {
                display:flex;
                align-items:center;
                justify-content:center;
                height:100%;
                margin:0 0 60px;
                
                .icon {
                    width:140px;
                    height:140px;
                }
                h3 {
                    width:calc(100% - 140px);
                    margin:0 0 0 20px;
                    box-sizing:border-box;
                    text-align:left;
                    color: $purple_dark;
                    text-transform:none;
                    font-size:2em;
                    font-weight:$semibold;
                    letter-spacing:1px;
                }
            }
            
            .inner_content {
                
                
                ul {
                    
                }
                
                li {
                    color:$nearlyblack;
                }
            }
        
        }
    }
    
}

@media screen and (max-width: #{$bp_small}) {
    
    
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

/**********************************************************************************************/
/***** INLINE CTAs - LISTING PAGES ************************************************************/
/**********************************************************************************************/
.inline_cta {
    margin-bottom:40px;
    width:100%;
    
    &.test {
        padding:60px;
        background:#f2f3f8;
        
        .meta {
            
            .inner {
                
            }
            
            .headshot {
                display:inline-block;
                position:relative;
                height:114px;
                width:114px;
                border-radius:100px;
                overflow:hidden;
                border:1px solid $purple_dark;
                margin:0 auto 40px;
                
                img {
                    position:absolute;
                    left:50%;
                    bottom:0;
                    display:block;
                    width:auto;
                    max-height:100%;
                    max-width:100%;
                    transform:translateX(-50%);
                }
            }
            
            p {
                margin:0;
            }
        }
        
        .quote {
            
            
            .inner {
                padding:0 40px;
            }
            
            img {
                display:block;
                width:50%;
                max-width:300px;
                margin:0 0 40px;
            }
            
            p {
                margin:0;
            }
        }
    }
}

/**********************************************************************************************/
/***** ALL ALM, OTHER FILTERS COLUMN STYLES ***************************************************/
/**********************************************************************************************/
#alm-filters-ssfilter,
#alm-filters-eventsfilter {
    padding-right:40px;
    
    .alm-filter {
        margin-bottom:20px;
    
        ul {
            margin:0;
            padding:0;
            list-style:none;
        
            > li {
                display:none;
                margin:0;
                padding:0;
                list-style:none;
                
                &:first-of-type {
                    display:block !important;
                    //@include background-opacity($orange, 0.15);
                    
                    .alm-filter--link {
                        
                        &.init {
                            @include background-opacity($orange, 0.15);
                        }
                        
                        &.off {
                            @include background-opacity($orange, 0.0);
                        }
                    }
                }
                
                &:last-of-type {
                    margin:0 0 30px;
                }
            
                .alm-filter--link {
                    display:block;
                    padding:10px 10px 10px 15px;
                    font-size:1em;
                    color:$black;
                    line-height:1.3em;
                    outline:none;
                    cursor:pointer;
                    @include background-opacity($orange, 0.0);
                    transition:all 0.3s;
                                    
                    &:hover,
                    &.active {
                        @include background-opacity($orange, 0.15);
                    }
                }
            }
        }
        
        &.open {
            
            ul > li {
                
            }
        }
    }
    .alm-filter--title {
    
        h3 {
            position:relative;
            margin:0 0 1em;
            color: $black;
            font-size:1.22em;
            font-weight:$semibold;
            text-transform:none;
            letter-spacing:0;
            
            &:after {
                position:absolute;
                right:20px;
                top:calc(50% + 2px);
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 6px 0 6px 10px;
                border-color: transparent transparent transparent $orange;
                content:'';
                transform:translateY(-50%) rotate(0deg);
                transition:all 0.3s;
            }
            
            &.open {
                
                &:after {
                    transform:translateY(-50%) rotate(90deg);
                }
            }
        }
    }
}

.alm-btn-wrap {
    opacity:0;
    visibility:hidden;
    text-align:center;
    
    #events-list & {
        opacity:1;
        visibility:visible;
    }

    .btn {
        margin:0;
    }
}

/**********************************************************************************************/
/***** SUCCESS STORIES ************************************************************************/
/**********************************************************************************************/
#success_stories {
    width:calc(100% - 80px);
    margin:0 auto;
    padding:60px 0;
    
    //SS GRID
    #success-stories-list {
        
        .alm-reveal.alm-filters {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;
    
            .ajax-load-more-wrap {
                width:100%;
            }
        }
        
        .item {
            position:relative;
            float:left;
            width:calc(33.3333% - 27px);
            margin:0 0 40px 40px;
            z-index:10;
            background:#f2f3f8;
    
            &:nth-of-type(3n + 1) {
                margin-left:0;
            }
            
            .top {
                position:relative;
                z-index:12;
                box-shadow:0 0 15px rgba(20,25,32,0.15);
                background:$white;
                
                .inner {
                    display:flex;
                    align-items:center;
                    position:relative;
                    padding:40px;
                    height:230px;
                    box-sizing:border-box;
                }
                
                img {
                    display:block;
                    width:100%;
                }
                
                .vertical {
                    position:absolute;
                    left:0;
                    bottom:5px;
                    display:block;
                    padding:5px;
                    width:100%;
                    font-size:0.78em;
                    color:$gray;
                    line-height:1.25em;
                    box-sizing:border-box;
                    text-align:center;
                }
            }
            
            .btm {
                background:none;
                z-index:11;
                
                .inner {
                    position:relative;
                    padding:30px 40px 80px 20px;
                }
                
                p {
                    margin:0;
                }
            }
            
            .rm_wrap {
                position:absolute;
                left:20px;
                bottom:20px;
            }
        }
    }
}

/**********************************************************************************************/
/***** YB EVENTS ******************************************************************************/
/**********************************************************************************************/
#yb_events {
    width:calc(100% - 80px);
    margin:0 auto;
    padding:60px 0;
    
    //EVENTS GRID
    #events-list {
        
        .alm-reveal.alm-filters {
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;
    
            .ajax-load-more-wrap {
                width:100%;
            }
        }
        
        
        li.item {
            padding:48px 24px;
            border-bottom:1px solid rgba(112,112,112,0.35);
            
            .img {
                float:left;
                width:30%;
                
                a {
                    display:block;
                }
                
                img {
                    display:block;
                    width:100%;
                }
            }
            
            .cont {
                float:left;
                width:70%;
                box-sizing:border-box;
                padding:0 0 0 50px;
                
                &.full {
                    float:none;
                    width:100%;
                }
            }
            
            h4 {
                margin:0 0 0.25em;
                color: $orange;
                text-transform:none;
                letter-spacing:0;
                
                a {
                    color: $orange;
                    
                    &:hover {
                        color: $blue;
                    }
                }
            }
            
            p {
                
                
                &.meta {
                    margin:0 0 40px;
                }
                
                .date {
                    font-weight:$bold;
                }
            }
        }
    }
}

.mu_groups_list {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    margin:80px 0 0;
    
    > li {
        float:left;
        width:33.33%;
        margin:0 0 50px;
        padding:0 50px;
        box-sizing:border-box;
        text-align:left;
        
        > a {
            display:block;
            
            &:hover {
                
                img {
                    transform:scale(1.05) rotate(0.02deg);
                }
                h4 {
                    color: $orange;
                }
            }
        }
        
        .img {
            margin:0 0 10px;
            overflow:hidden;
        }
        
        img {
            display:block;
            width:100%;
            transition:all 0.3s;
            transform-origin: center center;
        }
        
        h4 {
            margin:0;
            transition:all 0.3s;
        }
    }
}