/**********************************************************************************************/
/***** SUCCESS STORY BLOCKS *******************************************************************/
/**********************************************************************************************/
.ss_aag {
    
    .vert_align {
        
        .grid {
            display:flex;
            align-items:flex-start;
        }
    }
    
    .data {
        padding:0 0 0 40px;
        border-left:1px solid $gray;
        
        .results {
            
            .label {
                
            }
            ul {
                margin:50px 0 0 0;
                margin-left:0 !important;
                
                li {
                    
                }
            }
            
            .lg_text {
                margin:0;
                color: $orange;
                font-size:2.22em;
                line-height:1.2em;
            }
            .desc {
                margin:0 0 1.75em;
            }
            
            &.four {
                
                .lg_text {
                    line-height:1.4em;
                    font-size:1.67em;
                }
                .desc {
                    margin:0 0 1.25em;
                }
            }
        }
        
        .notes {
            
            .label {
                color: $orange;
            }
            
            ul {
                margin-top:50px;
                margin-left:0 !important;
                
                li {
                    position:relative;
                    margin:0 0 60px;
                    font-size:1.22em;
                    line-height:1.3em;
                    color: $black;
                    
                    &:after {
                        position:absolute;
                        left:0;
                        top:calc(100% + 30px);
                        width:35px;
                        height:2px;
                        background:$purple_dark;
                        content:'';
                    }
                }
            }
        }
    }
    
    .icon_buckets {
        display:flex;
        justify-content:flex-start;
        align-items:flex-start;
        
        .bucket {
            text-align:left;
            width:33.33%;
            padding:0 80px 0 0;
            box-sizing:border-box;
        }
        
        .icon {
            display:block;
            width:92px;
            margin:0 0 30px;
            
            img {
                display:block;
                width:100%;
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_aag {
        
        h2 {
            
            &.lined_left {
                text-align:center;
    
                &:after {
                    left:50%;
                    transform:translateX(-50%);
                }
            }
        }
        
        .vert_align {
        
            .grid {
                display:block;
            }
        }
    
        .data {
            
            h4 {
                text-align:center;
                
                &.lined_left {
                    text-align:center;
                
                    &:after {
                        left:50%;
                        transform:translateX(-50%);
                    }
                }
            }
            
            padding:40px 0 0 0;
            border:none;
            border-top:1px solid $gray;
        
            .results {
            
                ul {
                    text-align:center;
                }
            }
        
            .notes {
                
                ul {
                    text-align:center;
                
                    li {
                        
                        &:after {
                            left:50%;
                            transform:translateX(-50%);
                        }
                    }
                }
            }
        }
    
        .icon_buckets {
            display:block;
            margin:0 0 40px;
        
            .bucket {
                width:80%;
                margin:0 auto;
                padding:0;
                text-align:center;
            }
        
            .icon {
                margin:0 auto 30px;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_aag {
    
        .data {
            
            .results {
            
                .lg_text {
                    font-size:2em;
                }
            }
        }
    
        .icon_buckets {
            
            .bucket {
                padding:0 30px 0 0;
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_biz_tech_results {
    
    
    .list_col {
        
        h2.lined {
            margin:0 0 3em;
        }
        h2.lined_left {
            margin:0 0 2.5em;
        }
        .inner_content {
            padding:0 50px 0 0;
        }
    }
    
    .results {
        margin-left:0 !important;
        
        &.split {
            column-count:2;
            column-gap:60px;
            
            > li {
                break-inside:avoid;
            }
        }
                
        > li {
            position:relative;
            margin:0 0 60px;
            padding:0 0 0 60px;
            
            &:before {
                position:absolute;
                left:0;
                top:0;
                width:36px;
                height:36px;
                background:transparent url(../../images/list-type-checkmark.svg) no-repeat center center;
                background-size:cover;
                content:'';
            }
            
            &:last-of-type {
                margin:0;
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_biz_tech_results {
    
        .list_col {
            margin:0 0 60px;
        
            h2.lined {
                
            }
            h2.lined_left {
                text-align:center;
                
                &:after {
                    left:50%;
                    transform:translateX(-50%);
                }
            }
            .inner_content {
                padding:0 40px;
            }
        }
    
        .results {
        
        
            &.split {
                column-count:auto;
                column-gap:normal;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_challenges {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .grid {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .icon {
        
        .inner_content {
            width:100%;
            padding:0;
        }
        
        img {
            display:block;
            width:100%;
            max-width:200px;
            margin:0;
        }
    }
    
    .cont {
        order:-1;
        
        .inner {
            padding:0 100px 0 60px;
        }
        
        .inner_content {
            position:relative;
            padding:80px;
            background:$offwhite;
            
            &:after {
                position:absolute;
                right:-40px;
                top:calc(50% - 24px);
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 0 24px 40px;
                border-color: transparent transparent transparent $offwhite;
                content:'';
            }
            
            ul {
                margin-left:0 !important;
                
                li {
                    color: $black;
                    margin:0 0 1.5em;
                }
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_challenges {
        
        .grid {
            display:block;
        }
    
        .icon {
            margin:0 0 80px;
            
            img {
                margin:0 auto;
            }
        }
    
        .cont {
        
            .inner {
                padding:0;
            }
        
            .inner_content {
                padding:40px;
            
                &:after {
                    position:absolute;
                    right:calc(50% - 24px);
                    top:-40px;
                    border-width: 0 24px 40px 24px;
                    border-color: transparent transparent $offwhite transparent;
                }
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_challenges {
    
        .cont {
        
            .inner {
                padding:0 100px 0 0;
            }
        
            .inner_content {
                padding:40px;
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_cont_rows {
    text-align:left;
    
    .vert_align {
        margin-bottom:80px;
        
        &.last {
            margin:0;
        }
        
        .inner {
            display:table;
            height:100%;
            width:100%;
        }
        
        .inner_content {
            display:table-cell;
            height:100%;
            width:100%;
            vertical-align:middle;
        }
        
        &:last-of-type {
            margin-top:0;
        }
    }
    
    .grid {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    
    .img {
        order:-1;
        
        &.push-right {
            order:1;
        }
        
        .vid_cont {
            border:1px solid $black;
        }
        
        .img_cont {
            display:block;
            min-height:300px;
            background:$white;
            background-repeat:no-repeat;
            background-position:center center;
            background-size:cover;
            border:1px solid $black;
        }
    }
    
    .cont {
        
        .inner_content {
            //min-height:400px;
            padding:0 0 0 80px;
            
            &.flip {
                padding:0 80px 0 0;
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_cont_rows {
        
        .grid {
            display:block;
        }
        
        .vert_align {
            margin-bottom:40px;
        }
        
        .cont {
        
            .inner_content {
                padding:0;
            
                &.flip {
                    padding:0;
                }
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_cont_rows {
    
        .img {
            
            .img_cont {
                min-height:200px;
            }
        }
    
        .cont {
        
            .inner_content {
                padding:0 0 0 50px;
            
                &.flip {
                    padding:0 50px 0 0;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_db_reqs {
    
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
    }
    
    .grid {
        display:flex;
        justify-content:flex-start;
        align-items:center;
    }
    
    .icon {
        
        .inner_content {
            width:100%;
            padding:0;
        }
        
        img {
            display:block;
            width:100%;
            max-width:200px;
            margin:0;
        }
    }
    
    .cont {
        
        .inner {
            padding:0 60px 0 100px;
        }
        
        .inner_content {
            position:relative;
            padding:80px 100px;
            background:$offwhite;
            
            &:after {
                position:absolute;
                left:-40px;
                top:calc(50% - 24px);
                width: 0; 
                height: 0; 
                border-style: solid;
                border-width: 24px 40px 24px 0;
                border-color: transparent $offwhite transparent transparent;
                content:'';
            }
            
            ul {
                margin-left:0;
                
                li {
                    color: $black;
                    margin:0 0 0.25em;
                }
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_db_reqs {
    
        .grid {
            display:block;
        }
        
        .icon {
            margin:0 0 80px;
            
            img {
                margin:0 auto;
            }
        }
    
        .cont {
        
            .inner {
                padding:0;
            }
        
            .inner_content {
                padding:40px 60px;
            
                &:after {
                    left:calc(50% - 24px);
                    top:-40px;
                    border-width: 0 24px 40px 24px;
                    border-color: transparent transparent $offwhite transparent;
                }
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_db_reqs {
        
        .grid {
            display:flex;
            justify-content:flex-start;
            align-items:center;
        }
    
        .cont {
        
            .inner {
                padding:0 0 0 100px;
            }
        
            .inner_content {
                padding:40px 60px;
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_img_cont {
    
    h3 {
        margin:0 0 1em;
        font-size:2.33em;
        text-transform:none;
        letter-spacing:0px;
        color:$purple_dark;
        
        a {
            text-decoration:underline;
            color: $blue;
            
            &:hover {
                color: $orange;
                text-decoration:none;
            }
        }
    }
    
    .vert_align {
        
        
        .inner {
            display:flex;
            align-items:center;
            height:100%;
        }
        .img {
            
        }
    }
    
    .grid {
        display:flex;
        justify-content:flex-start;
        align-items:center;
    }
    
    .cont {
        
        
        .inner_content {
            padding:0 60px;
        }
    }
    
    .img {
        position:relative;
        
        .inner_content {
            position:relative;
            margin:0 auto;
            z-index:15;
        }
        
        img {
            display:block;
            width:100%;
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_img_cont {
        
        h3 {
            font-size:1.25em;
        }
        
        .grid {
            display:block;
        }
    
        .cont {
            
            .inner_content {
                padding:0;
            }
        }
    
        .img {
            margin:0 0 40px;
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_img_cont {
    
        h3 {
            font-size:2em;
        }
        
        .cont {
        
        
            .inner_content {
                padding:0 0 0 40px;
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_tech_results {
    
    
    .metric_buckets {
        display:flex;
        justify-content:center;
        align-items:top;
        
        .bucket {
            width:25%;
            padding:0 10px;
            box-sizing:border-box;
            text-align:center;
        }
        
        .lg_text {
            margin:0 0 0.5em;
            font-size:3.33em;
            color:$purple_dark;
            line-height:1;
            font-variant: small-caps;
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_tech_results {
        
        .metric_buckets {
            flex-wrap:wrap;
        
            .bucket {
                flex:0 0 50%;
                width:auto;
                align-self:stretch;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_test {
    padding:100px 0;
    
    .page & {
        padding-bottom:160px;
    }
    
    .test_bg {
        position:relative;
        padding:100px 44px 160px;
        border:1px dashed $purple_dark;
        background:$offwhite;
        
        &:before {
            position:absolute;
            left:50%;
            top:0;
            width:108px;
            height:108px;
            padding-right:15px;
            border-radius:60px;
            border:1px dashed $purple_dark;
            background:$white;
            transform:translate(-50%,-50%);
            font-size:6.67em;
            line-height:154px;
            text-align:center;
            font-style:italic;
            color: $purple_dark;
            box-sizing:border-box;
            content:'“';
        }
        
        .quote {
            padding:0 56px;
            
            &.single {
                text-align:center;
            }
            
            p {
                margin:0;
                font-size:1.33em;
                line-height:1.5em;
                font-style:italic;
            }
        }
        
        .cites_cont {
            position:absolute;
            left:50%;
            top:100%;
            transform:translate(-50%, -50%);
            width:calc(100% - 88px);
        }
        
        .cite {
            padding:0 56px;
            
            .inner {
                padding:30px 70px;
                border:1px solid $black;
                background:$white;
            }
            
            .inner_content {
                display:flex;
                align-items:center;
                justify-content:center;
            }
            
            .headshot {
                flex:0 0 112px;
                width:112px;
                height:112px;
                margin:0 30px 0 0;
                border-radius:60px;
                overflow:hidden;
                border:2px solid $orange;
                background:$white;
                background-repeat:no-repeat;
                background-position:center center;
                background-size:cover;
            }
            
            p {
                margin:0;
                font-weight:$bold;
                
                span {
                    display:block;
                    font-weight:$normal;
                }
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_test {
        padding:40px 0 100px;
    
        .page & {
            padding-bottom:100px;
        }
    
        .test_bg {
            padding:70px 20px 120px;
        
            .quote {
                padding:0 20px;
                
                &:first-of-type {
                    margin-bottom:40px;
                }
                
                p {
                    font-size:1em;
                }
            }
        
            .cites_cont {
                width:100%;
            }
        
            .cite {
                
            
                .inner {
                    max-width:260px;
                    margin:10px auto;
                    padding:10px 10px;
                }
            
                .inner_content {
                    align-items:center;
                    justify-content:center;
                }
            
                .headshot {
                    flex:0 0 40px;
                    width:40px;
                    height:40px;
                    margin:0 10px 0 0;
                }
            
                p {
                    flex:0 0 calc(100% - 50px);
                    font-size:0.89em;
                    line-height:1.2em;
                }
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .ss_test {
    
        .test_bg {
            position:relative;
            padding:100px 44px 160px;
            border:1px dashed $purple_dark;
            background:$offwhite;
        
            &:before {
                position:absolute;
                left:50%;
                top:0;
                width:108px;
                height:108px;
                padding-right:15px;
                border-radius:60px;
                border:1px dashed $purple_dark;
                background:$white;
                transform:translate(-50%,-50%);
                font-size:6.67em;
                line-height:154px;
                text-align:center;
                font-style:italic;
                color: $purple_dark;
                box-sizing:border-box;
                content:'“';
            }
        
            .quote {
                padding:0 20px;
            
                &.single {
                    text-align:center;
                }
            
                p {
                    margin:0;
                    font-size:1.33em;
                    line-height:1.5em;
                    font-style:italic;
                }
            }
        
            .cites_cont {
                position:absolute;
                left:50%;
                top:100%;
                transform:translate(-50%, -50%);
                width:calc(100% - 88px);
            }
        
            .cite {
                padding:0 20px;
            
                .inner {
                    padding:20px 20px;
                    border:1px solid $black;
                    background:$white;
                }
            
                .inner_content {
                    display:flex;
                    align-items:center;
                    justify-content:center;
                }
            
                .headshot {
                    flex:0 0 80px;
                    width:80px;
                    height:80px;
                    margin:0 20px 0 0;
                }
                
                p {
                    flex:1 0 calc(100% - 100px);
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

.ss_yb_solution {
    
    
    h2.lined {
        margin-bottom:2em;
    }
    .icon_buckets {
        display:flex;
        justify-content:center;
        align-items:flex-start;
        
        .bucket {
            flex:1 0 25%;
            align-self:stretch;
            padding:0 10px;
            box-sizing:border-box;
            text-align:center;
        }
        
        .icon {
            display:flex;
            width:112px;
            height:112px;
            margin:0 auto 20px;
            
            img {
                display:block;
                width:100%;
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .ss_yb_solution {
        
        .icon_buckets {
            flex-wrap:wrap;
            
            .bucket {
                flex:0 0 50%;
                width:auto;
                align-self:stretch;
            }
        }
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}