/**********************************************************************************************/
/***** TYPOGRAPHY *****************************************************************************/
/**********************************************************************************************/
* {
    ::-moz-selection {
        background: $orange;
    }
    ::selection {
        background: $orange;
    }
}


hr {
    height: 1px;
    background: $blue;
    border: none;
    margin: 24px 0;
}

a {
	text-decoration:none;
	transition:all 0.3s;
	color: $blue;
	
	&:hover {
	    color: $orange;
	}
}

h1,h2,h3,h4,h5,h6 {
    margin:0 0 0.5em 0;
    font-family: $ssans;
    font-weight:$normal;
    line-height:1.25em;
    color: $blue;
    
    &.large_margin {
        margin:0 0 1em 0;
    }
}
h1 {
    font-family: $ssans;
    font-size: 3.89em; /* 70px */
    line-height:1.05em;
    
    &.midlong {
        font-size: 2.78em; /* 50px */
    }
    &.long {
        font-size: 2.22em; /* 40px */
    }
    
    #hero_ss & {
        font-size:1.78em;
        line-height:1.375em;
    }
}

h2 {
    font-size: 2em; /* 36px */
    line-height:1.25em;
    font-family: $ssans;
    font-weight:$normal;
    color:$orange;
    text-transform:uppercase;
    letter-spacing:4px;
    
    &.large_purple {
        font-size:2.33em;
        letter-spacing:0;
        text-transform:none;
        color: $purple_dark;
    }
    
    &.lined,
    &.lined_left {
        position:relative;
        margin-bottom:1.5em;
        
        &:after {
            position:absolute;
            left:50%;
            top:calc(100% + 20px);
            width:75px;
            height:2px;
            background:$purple_dark;
            content:'';
            transform:translateX(-50%);
        }
        
        &.alt {
            margin:0 0 0.75em;
            text-transform:none;
            letter-spacing:0;
            color: $white;
            
            &:after {
                background:$white;
            }
        }
    }
    
    &.lined_left {
        
        &:after {
            left:0;
            transform:none;
        }
    }
}

h3 {
    color: $orange;
    font-size:1.5em; /* 27px */
    font-family: $ssans;
    line-height:1.25em;
    text-transform:uppercase;
    letter-spacing:3px;
    
    &.lined,
    &.lined_left {
        position:relative;
        margin-bottom:1.5em;
        
        &:after {
            position:absolute;
            left:50%;
            top:calc(100% + 20px);
            width:75px;
            height:2px;
            background:$purple_dark;
            content:'';
            transform:translateX(-50%);
        }
    }
    
    &.lined_left {
        
        &:after {
            left:0;
            transform:none;
        }
    }
}

h4 {
    margin:0 0 0.5em;
    color:$black;
    font-family: $ssans;
    font-size: 1.22em; /* 22px */
    line-height:1.45em;
    font-weight:$semibold;
    text-transform:uppercase;
    letter-spacing:3px;
    
    &.lined,
    &.lined_left {
        position:relative;
        margin-bottom:1.5em;
        
        &:after {
            position:absolute;
            left:50%;
            top:calc(100% + 12px);
            width:75px;
            height:2px;
            background:$purple_dark;
            content:'';
            transform:translateX(-50%);
        }
    }
    
    &.lined_left {
        
        &:after {
            left:0;
            transform:none;
        }
    }
    
    &.checkmark {
        position:relative;
        padding:0 0 0 60px;
        
        &:before {
            position:absolute;
            left:0;
            top:-5px;
            width:36px;
            height:36px;
            background:transparent url(../../images/list-type-checkmark.svg) no-repeat center center;
            background-size:cover;
            content:'';
        }
    }
}

h5 {
    margin:0;
    font-size:1em; /* 18px */
    font-weight:$bold;
}
h6 {
    margin:0;
    font-size:1em; /* 18px */
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.55em;
    line-height: 0;
    font-size: 60%;
}
sub { 
    top: 0.55em; 
}

.wysiwyg {
    p {
        font-size:1em;
        
        .btn {
            margin-bottom:0 !important;
        }
    }
    ul,
    ol {
        margin: 1em 0 1.56em 20px;
        list-style:decimal;
    }
    ul {
        padding:0;
        list-style:disc;
    }
    ul li,
    ol li {
        display: list-item; 
        margin-bottom:0.25em;
        font-size:1em;
        line-height:1.45em;
        color:$gray;
    }
    ol li {
        list-style: decimal;
    }
        
    ul li {
        position:relative;
        list-style:none;
        
        &:before {
            position:absolute;
            left:-20px;
            top:0.5em;
            width:8px;
            height:8px;
            content:'';
            border-radius:4px;
            background:$blue;
        }
    }
    .invert & {
        
    }
    
    a {
        text-decoration:underline;
        color: $blue;
        
        &:hover {
            color: $orange;
        }
        
        &.btn {
            &:hover {
                color: $white;
            }
        }
    }
    
    .btn a:hover {
        color: $white;
    }
    
    p:last-of-type {
        //margin:0;
        
        span.intro {
            margin:0;
        }
    }
    
    &.plast {
        
        p:last-of-type {
            margin:0;
        }
        
        p:first-of-type {
            margin-bottom:1.56em;
        }
        
        p:only-of-type {
            margin:0;
        }
    }
}

.single-post #content {
    
    ul,
    ol {
        margin: 1em 0 1.56em 20px;
        list-style:decimal;
    }
    ul {
        padding:0;
        list-style:disc;
    }
    ul li,
    ol li {
        display: list-item; 
        margin-bottom:0.25em;
        font-size:1em;
        line-height:1.45em;
        color:$black;
    }
    ol li {
        list-style: decimal;
    }
        
    ul li {
        position:relative;
        
        &:before {
            display:none;
        }
    }
}

p {
    margin-bottom:1.56em;
    line-height:1.56em;
    
    strong, b {
        font-family:$ssans;
    }
    
    &.footnote {
        font-size:0.8em;
        font-style:italic;
    }
}

strong, b {
    font-weight: $bold;
}
i, em {
    font-style:italic;
}

blockquote {
    position:relative;
    @extend p;
    font-size:1.4em;
    line-height:1.5em;
    font-style:italic;
    font-weight:$normal;
    margin:0 0 2em;
    padding:0;
    border:none;
    color: $black;
    text-align:left;
    
    p {
        margin:0;
    }
    
    .wysiwyg & {
        margin:0 0 2em 0;
        padding:0;
    }
}
cite,
p.cite {
    @extend p;
    font-size:1.4em;
    line-height:1.5em;
    font-style:italic;
    font-weight:$bold;
    margin-bottom:1.56em;
    color: $black;
    
    .wysiwyg & {
        margin:0;
    }
    
    span {
        display:block;
        font-weight:$normal;
    }
}

img{
	vertical-align: bottom;
	
	.wysiwyg & {
	    max-width:100%;
	    height:auto;
	    
	    &.aligncenter {
	        
	    }
	}
}
.screen-reader-text {
    clip:rect(1px, 1px, 1px, 1px);
    position:absolute;
    top:10px;
    left:10px;
    font-family: $ssans;
    font-size:0.89em;
    font-weight: $normal;
    color: $blue;
    z-index:10000;
    opacity:0;
    transition:opacity 0.2s;
}
.site-navigation .screen-reader-text {
    left:auto;
    right:10px;
}
.screen-reader-text:focus {
    clip:auto;
    opacity:1;
}

/**** SPECIAL NESTED NUMBERED LISTS, A LA SUPPORT SERVICES AGREEMENT ******************/
.wysiwyg {

    .tab_indent_wrap {
        padding-left:36px;
    }
    
    .special_ol {
        
        li {
            display:block;
        }
        
        > li {
            position:relative;
            counter-increment: item;
            
            &:before {
                position: absolute;
                right: 10px;
                margin-right: 100%;
                content:counters(item, '.') '. ';
            }
            
            &:first-child {
                counter-reset: item;
            }
        }
    }
}
ol li {display:block;} /* hide original list counter */
ol > li:first-child {counter-reset: item;} /* reset counter */
ol > li {counter-increment: item; position: relative;} /* increment counter */
ol > li:before {content:counters(item, ".") ". "; position: absolute; margin-right: 100%; right: 10px;} /* print counter */

@media screen and (max-width: #{$bp_small}) {
    
    h2,h3,h4,h5,h6 {
        
        br {
            display:none;
        }
    }
    
    h1 {
        font-size: 2.44em; /* 44px */
    
        &.midlong {
            font-size: 1.75em;
        }
        &.long {
            font-size: 1.4em;
        }
    }

    h2 {
        font-size:2.22em; /* 40px */
    }
    
    h3 {
        font-size:1.56em; /* 28px */
    }
    
    h4 {
        font-size:1.22em; /* 22px */
    }
    
    .wysiwyg {
        p {
            font-size:0.89em;
        }
        ul,
        ol {
            font-size:0.89em;
        }
    }
    
    cite,
    p.cite {
        font-size: 1em;
    }

    p {
        font-size:0.89em;
    }
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    h1 {
        font-size: 3em; /* 54px */
    
        &.midlong {
            font-size: 2.25em;
        }
        &.long {
            font-size: 1.75em;
        }
        
        #hero_ss & {
            font-size:1.5em;
        }
    }
    
    h2 {
        font-size: 2.44em; /* 44px */
    }

    h3 {
        font-size:1.78em; /* 32px */
    }
    
    .wysiwyg {
        p {
            font-size:0.89em;
        }
        ul,
        ol {
            font-size:0.89em;
        }
    }
    
    cite,
    p.cite {
        font-size: 1em;
    }

    p {
        font-size:0.89em;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}

@media screen and (min-width: 768px) and (max-width: #{$bp_full}) {
    
    
    
}