/**********************************************************************************************/
/***** SITEWIDE BUTTONS ***********************************************************************/
/**********************************************************************************************/
a.btn,
.btn a,
a span.btn,
input[type='image'],
input[type='submit'],
input[type='button'],
button.btn,
button.gpnf-add-entry,
.wp-block-button__link {
    display:inline-block;
    position:relative;
    margin:0 0 1.67em 0;
    padding:10px 20px;
    width:auto;
    background:$orange !important;
    font-family: $ssans;
    font-size: 1.25em;
    font-weight: $semibold;
    font-style:normal;
    line-height:1.4em !important;
    color: $white !important;
    border:2px solid $orange;
    border-radius:100px;
    text-decoration:none !important;
    text-transform:none;
    box-sizing:border-box;
    text-align:center;
    -webkit-appearance:none;
    transition:all 0.3s;
    cursor:pointer;
    
    &.offset {
        margin-left:20px;
    }
    
    &.outline {
        background:none !important;
        color: $orange !important;
    }
    
    &.small {
        padding:5px 10px;
        font-size:0.9em;
    }
    
    &.sq {
        padding-right:40px;
        border-radius:0;
        border:2px solid $purple_dark;
        background:none !important;
        color: $purple_dark !important;
        
        &:after {
            position:absolute;
            right:20px;
            top:calc(50% + 2px);
            width: 0; 
            height: 0; 
            border-style: solid;
            border-width: 6px 0 6px 10px;
            border-color: transparent transparent transparent $orange;
            content:'';
            transform:translateY(-50%);
        }
        
        /*.arrow {
            display:inline-block;
            margin-left:10px;
            width: 0; 
            height: 0; 
            border-style: solid;
            border-width: 6px 0 6px 10px;
            border-color: transparent transparent transparent $orange;
        }*/
        
        &:hover {
            background:$purple_dark !important;
            color:$orange !important;
            border-color:$purple_dark !important;
        }
    }
    
    &:hover {
        color: $white !important;
        border-color:$blue !important;
        background:$blue !important;
        text-decoration:none !important;
    }
}

input[type='submit'],
input[type='button'] {
    
    
    &:focus {
        outline:none;
    }
}

a.btn.disabled,
.btn a.disabled,
input[type='image']:disabled,
input[type='submit']:disabled,
input[type='button']:disabled,
button.btn:disabled,
button.gpnf-add-entry:disabled,
.wp-block-button__link.disabled {
    cursor:default;
    color: $white !important;
    background: $offwhite !important;
    border-color: $offwhite !important;
    
    &:hover {
        cursor:default;
        color: $white !important;
        background: $offwhite !important;
        border-color: $offwhite !important;
    }
}

// HEADER CTA
#header_cta {
    float:right;
    margin:18px 0 0 48px;
    padding:3px 15px;
    line-height:33px !important;
}

.read_more {
    display:inline-block;
    position:relative;
    padding-right:40px;
    text-decoration:none;
    font-size:1.67em;
    line-height:1.333em;
    font-weight:$semibold;
    color:$purple_dark;
    
    &:after {
        position:absolute;
        right:20px;
        top:calc(50% + 2px);
        width: 0; 
        height: 0; 
        border-style: solid;
        border-width: 6px 0 6px 10px;
        border-color: transparent transparent transparent $orange;
        content:'';
        transform:translateY(-50%);
    }
}


// GUTENBERG BUTTON STYLES
.wp-block-buttons {
    width:100%;
    max-width:1360px;
    margin-right:auto;
    margin-left:auto;

    .wp-block-button {
        margin-bottom:0;
        margin-right:20px;
        
        &:last-child {
            margin-right:0;
        }
    }
}

.wp-block-button__link {
	border-radius: 0;
}

@media screen and (max-width: #{$bp_small}) {

    a.btn,
    .btn a,
    a span.btn,
    input[type='image'],
    input[type='submit'],
    input[type='button'],
    button.btn,
    button.gpnf-add-entry,
    .wp-block-button__link {
        
    }
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}