/**********************************************************************************************/
/***** GUTENBERG RESETS / STANDARD NAKED BLOCKS ***********************************************/
/**********************************************************************************************/
#content article {
    
    
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > ol,
    > ul,
    > hr,
    > span,
    > a {
        width:calc(100% - 160px);
        max-width:1200px;
        margin-right:auto;
        margin-left:auto;
    }
    
    //MAX WIDTH FOR READABILITY, NAKED ELEMENTS
    > p,
    > ol,
    > ul,
    > hr,
    > span,
    > a {
        padding-right:28%;
        box-sizing:border-box;
    }
    
    .wp-block-columns {
        display:flex;
        flex-wrap:nowrap;
        width:calc(100% - 160px);
        max-width:1200px;
        margin:0 auto;
        padding:0 0 80px 0;
        
        .wp-block-column {
            
            &:first-child {
                padding-right:10%;
            }
            
            &:not(:first-child) {
                margin-left:20px;
            }
        }
    }
}

@media screen and (max-width: #{$bp_small}) {

    #content article {
    
    
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > ol,
        > ul,
        > hr,
        > span,
        > a {
            width:calc(100% - 40px);
        }
    
        //MAX WIDTH FOR READABILITY, NAKED ELEMENTS
        > p,
        > ol,
        > ul,
        > hr,
        > span,
        > a {
            padding-right:0;
        }
    
        .wp-block-columns {
            display:block;
            width:calc(100% - 40px);
            padding:0 0 40px 0;
        
            .wp-block-column {
                
            
                &:first-child {
                    padding-right:0;
                }
            
                &:not(:first-child) {
                    margin-left:0;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    
    #content article {
        
        .wp-block-columns {
            display:block;
            width:calc(100% - 160px);
            padding:0 0 40px 0;
        
            .wp-block-column {
                
            
                &:first-child {
                    margin-bottom:40px;
                    padding-right:0;
                }
            
                &:not(:first-child) {
                    margin-left:0;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}