/**********************************************************************************************/
/***** PRIMARY NAV ****************************************************************************/
/**********************************************************************************************/
#primary-navigation {
    float:left;
    position:relative;
    width:calc(100% - 200px);
    margin-left:24px;
    padding:0;
    box-sizing:border-box;
    
    .nav-menu {
        position:relative;
        margin:0;
        padding:0;
        list-style:none;
        text-align:left;
        
        > li {
            position:relative;
            display:inline-block;
            margin:0 0 0 -4px;
            transition: all 0.3s ease 0s;
            vertical-align:top;
            text-align:left;
            
            &:first-of-type {
                
            }
            
            a {
                display:block;
                position:relative;
                padding:0 24px;
                line-height:80px;
                font-family: $ssans;
                font-size:1em;
                font-weight: $semibold;
                color: $white;
                text-transform:none;
                text-align:center;
                transition:all 0.3s;  
                text-decoration:none;
                border-radius: 0;
                
                .scrolling & {
                    
                }
                
                &:hover {
                    color:$orange;
                }
            }
            
            &:hover > a,
            &:focus > a,
            &.current-menu-item > a,
            &.current-menu-ancestor > a,
            &.current-post-ancestor > a,
            &.current-page-ancestor > a {
                color:$orange;
            }
            
            &:hover .sub-menu,
            &:focus .sub-menu {
                left:0;
                margin-top:0;
            }
        
            &.flip:hover .sub-menu,
            &.flip:focus .sub-menu {
                left:auto;
                right:0;
            }
        }
        
        ul {
            position: absolute;
            top:100%;
            left: -999em;
            //left:0;
            width:auto;
            min-width:100%;
            margin:0;
            background:$purple_dark;
            padding:0;
            z-index:1000;
            box-sizing:border-box;            
            
            li {
                position:relative;
                display:block;
                margin:0;
                background:$purple_dark;
                overflow:hidden;
                
                a {
                    display:block;
                    width:100%;
                    box-sizing:border-box;
                    vertical-align:middle;
                    line-height:1.3em;
                    font-family:$ssans;
                    font-weight:$normal;
                    height:auto;
                    padding:15px 24px;
                    color:$white;
                    background:none !important;
                    border-top:1px solid $white;
                    white-space:nowrap;
                    transition:all 0.3s;
                    text-align:left;
                    border-radius:0;
                    text-decoration:none;
                    
                    .scrolling & {
                        
                    }
                    
                    &:hover,
                    &.active,
                    .nav-menu li:hover &,
                    .nav-menu li:focus & {
                        color:$orange
                    }
                    
                }
                
                &.current-menu-item a,
                &.current-menu-ancestor a,
                &.current-post-ancestor a,
                &.current-page-ancestor a {
                    color: $orange;
                                    
                    &:hover,
                    &.active,
                    .nav-menu li:hover &,
                    .nav-menu li:focus & {
                        
                    }
                }
                
                &:first-of-type {
                    
                    a {
                        //border:none;
                    }
                }
            }
        }
    }
}

/* MOBILE NAV */
#primary-navigation-mobile {
    width:100%;
    padding:0;
    
    .nav-menu {
        list-style:none;
        margin:0;
        padding:30px 0;
                
        > .menu-item-has-children {
            
            > a {
                width:calc(100% - 42px);
                padding-right:0;
                //border-right:1px solid $white;
            }
        
            > .toggle {
                display:inline-block;
                border:none;
                background:none;
            }
        }
        
        > li {
            margin:0 0 10px;
            border:none;
            
            &:first-child {
                
            }
            
            > a {
                position:relative;
                display:inline-block;
                vertical-align:top;
                width:100%;
                font-size:1.5em;
                font-family: $ssans;
                font-weight: $semibold;
                border:none;
                padding:7px 50px 7px 0;
                color: $white;
                transition:all 0.3s;
        
                &:hover {
                    color: $orange;
                }
            }
            
            > .toggle {
                position:relative;
                display:none;
                width:40px;
                padding:0;
                height:40px;
                background:none;
                text-indent:-9999px;
                overflow:hidden;
                text-align:left;
                outline:none;
                transition:all 0.3s;
            
                &:after {
                    position:absolute;
                    left:50%;
                    top:50%;
                    width: 0; 
                    height: 0; 
                    border-style: solid;
                    border-width: 6px 0 6px 10px;
                    border-color: transparent transparent transparent $orange;
                    content:'';
                    transform:translate(-50%,-50%);
                    transition:all 0.3s;
                }
            
                > span {
                    display:block;
                    padding:100px 0 0 0;
                }
                
                &:hover {
                    transform:rotate(90deg);
                    
                    &:after {
                        
                    }
                }
            }
        }
        
        ul {
            display:none;
            list-style:none;
            width:100%;
            margin:0;
            padding:6px 15px;
            background:none;
            border-top:none;
            
            /*ul {
                display:block;
                
                li {
                    
                    a {
                        padding-right:34%;
                    }
                }
            }*/
            
            li {
                
                
                a {
                    display:block;
                    font-weight:$normal;
                    font-size:1.22em;
                    color: $white;
                    text-transform:none;
                    line-height:1.2em;
                    margin:0;
                    padding:5px 0;
                    transition: all 0.3s ease 0s;
                    
                    &:hover {
                        color: $orange;
                    }
                }
                
                &.current-menu-item a,
                &.current-menu-ancestor a,
                &.current-post-ancestor a,
                &.current_page_parent a,
                &.current_page_ancestor a,
                &.current-page-ancestor a {
                    color: $orange;
                    
                }
                
                > .toggle {
                    display:none;
                }
            }
        }
        
        .current-menu-item a,
        .current-menu-ancestor a,
        .current-post-ancestor a,
        .current_page_parent a,
        .current_page_ancestor a,
        .current-page-ancestor a {
                
            &:before {
                width:100%;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    
    #primary-navigation {
        display:none;
    }
    #primary-navigation-mobile {
        display:block;
    }
    
}

@media only screen and (max-width: #{$bp_small}) {
    
    #primary-navigation-mobile {
        
        .nav-menu {
            
            > li {
            
                > a {
                    font-size:1.25em;
                }
            }
        
            ul {
            
                li {
                    
                    a {
                        font-size:1em;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    
    #primary-navigation-mobile {
        
        .nav-menu {
        
            > li {
            
                a {
                    
                    &:after {
                        left:-80px;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 991px) and (max-width: 1100px) {
    
    
    #primary-navigation {
        
    
        .nav-menu {
            
        
            > li {
                
            
                a {
                    font-size:0.83em;
                    padding:0 14px;
                }
            }
        
            ul {
                           
            
                li {
                
                    a {
                        padding:15px 14px;
                    
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 1101px) and (max-width: 1260px) {
    
    #primary-navigation {
        
    
        .nav-menu {
            
        
            > li {
                
            
                a {
                    padding:0 15px;
                }
            }
        
            ul {
                           
            
                li {
                
                    a {
                        padding:15px 15px;
                    
                    }
                }
            }
        }
    }
    
}