/**********************************************************************************************/
/***** SLIDERS ********************************************************************************/
/**********************************************************************************************/
.img_gallery_slider {
    margin:40px 0 0 0;
    margin-left:0 !important;
    height:330px;
    
    * {
        box-sizing:border-box;
    }
    
    li {
        position:relative;
        //width:200px;
        height:330px;
        overflow:hidden;
        background:none;
        z-index:1000;
        
        > .inner {
            display:block;
            width:100%;
            height:100%;
            padding:0 5px;
            text-decoration:none;
        }
        
        img {
            height:100%;
        }
    }
}

.test_slider {
    margin-left:0 !important;
    
    * {
        box-sizing:border-box;
    }
    
    .slick-list {
        padding:0 !important;
    }
    
    li {
        position:relative;
        overflow:hidden;
        background:none;
        z-index:1000;
    }
}

@media screen and (max-width: #{$bp_small}) {
    
    .img_gallery_slider {
        width:calc(100% - 40px);
        margin:40px auto 0;
    }
    
}

@media screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}