/**********************************************************************************************/
/***** SITEWIDE TABLE STYLES ******************************************************************/
/**********************************************************************************************/
//GENERAL TABLE STYLES
table {
    width:100%;
    margin: 1em 0; 
    border: 1px solid $gray; 
    border-top: none; 
    table-layout:auto;
    
    td,
    th { 
        border-left: 1px solid $gray; 
        padding: 1em;
        background: $offwhite;
    }
    th { 
        background: $white;
    }

    tr {
        border-top: 1px solid $gray; 
        border-left: 1px solid $gray;
        
        &:nth-child(even) td {
            background: $offwhite;
        }
    }
    
    //LOCK WIDTH FOR FIRST COLUMN
    td {
        
        &:first-of-type {
            width:40% !important;
        }
    }
}


//INFO TOOLTIPS
.wptb-shortcode-container.wptb-ph-element {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    
    wptb_shortcode_container_element > div {
        height:100%;
        width:100%;
    }
}

//WP-TABLE-BUILDER STYLES
.content_section.ybtable {
    
    
    .wptb-image-wrapper img {
        width:auto !important;
        display:block;
        margin:0 auto;
    }
    
}


.info_tip {
    position:absolute;
    right:10px;
    top:50%;
    width:22px;
    height:22px;
    border-radius:11px;
    margin-top:-10px;
    background:$white url(../../images/info-tip-icon.svg) no-repeat center center;
    background-size:cover;
    z-index:10;
    
    &:hover {
        
        
        .tip {
            display:block;
        }
    }
    
    .tip {
        display:none;
        position:absolute;
        left:calc(100% + 5px);
        top:-30px;
        width:400px;
        height:auto;
        border:1px solid $gray;
        background:$white;
        z-index:10000;
        
        .inner {
            display:block;
            padding:18px 24px;
            color: $black;
            line-height:1.45em;
            font-size:0.9em;
        }
    }
}

@media screen and (max-width: #{$bp_small}) {

    
    
}

@media only screen and (max-width: 480px) {
    
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    
    
}

@media only screen and (min-width: 1025px) and (max-width: #{$bp_full}) {
    
    
    
}