/* Responsive */

@media only screen and (min-width: 992px) {
	.navbar .navbar-toggler {
		display: none;
	}
	.navbar .menu-container {
		display: contents;
	}
}
@media only screen and (min-width: 1201px) {
	.versus .vc_section > .vc_row {
	    width: 1140px;
	    margin: auto;
	}
}

@media only screen and (max-width: 1200px) {
	.nav {
		padding-left: 0;
	}
	.navbar .nav-link {
		padding: 1.65rem 0.8rem;
		font-size: 13px;
		line-height: 17px;
	}

	.enterprise .hero-banner .item .title {
		font-size: 13px;
	}
	.enterprise .advanced-features .repeater .col-md-6 {
		padding: 0 10px 30px;
	}

	.home .it-blocks-holder .item {
		margin: 0 15px;
	}
	.homepage-hero .vimeo iframe {
	}
	.homepage-hero .placeholder img {
	}
	.hero-banner .title {
	    display: flex;
	    align-items: center;
		font-size: 14px;
		line-height: 2em;
	}
	.download .block.one .container {
		border-radius: unset;
	}
	.more-orange .item {
		width: 120px;
		height: 140px;
	}
	.more-orange .icon {
		height: 60px;
	}
	.more-orange .text {
		line-height: 16px;
		margin-top: 5px;
	}
	.iub_content li {
		min-width: 820px;
	}
	.iub_content .for_boxes {
		min-width: 870px;
	}
	.iub_content .unstyled {
		min-width: 820px;
	}
	.iub_content .box_primary {
		min-width: 870px;
	}
	.versus .hero-banner .title {
		font-size: 13px;
	}
	.versus .hero-banner .img {
		height: 58px;
	}
}

@media only screen and (max-width: 992px) {
	section {
		padding: 50px 0;
	}
	.resources .main .item-container {
		margin: 0;
	}
	.resources .hero-resources .button-container a {
		left: 20px;
		right: 20px;
	}
	.homepage-hero .vimeo iframe {
		width: 640px;
		height: 360px;
	}
	.homepage-hero .placeholder img {
		width: 640px;
		height: 360px;
	}
	.homepage-hero .repeater li {
		display: list-item;
		padding: 0;
	}
	.homepage-hero .repeater li:after {
		border: none;
	}
	.home .customers .customer-holder {
		margin-bottom: 35px;
	}
	.home .customers .customer-holder .item {
		margin: 15px;
	}
	.home .customer-holder.it-blocks-holder .item .icon {
		margin: unset;
		height: unset;
	}
	.home .customer-holder .item .text {
		margin-top: 25px;
	}
	.home .it-blocks {
		padding: 50px 0;
	}
	.home .it-blocks-holder .item {
		margin: 0 20px 20px;
	}
	.home .it-blocks .secondary-title-holder {
		padding-top: 30px;
	}

	.customer-holder .item {
		margin: 3% 0;
	}
	.it-blocks-holder .item .copy {
		padding: 0 0 20px;
	}
	.it-blocks-holder .item .copy ul {
		padding-left: 20px;
	}
	.footer-cta .main-title {
		font-size: 42px;
		line-height: 50px;
	}
	.footer-cta .client-holder .image-container img {
		width: 9vw;
	}
	.main-footer {
		padding: 6.25rem 5px 3.125rem;
	}
	.main-footer .footer-menu .col {
		text-align: center;
		margin-bottom: 5%;
	}
	.main-footer .footer-menu ul a:first-child li {
		margin-left: auto;
		margin-right: auto;
	}
	.footer-menu .col.logo-cta-container {
		margin-right: 0;
		margin-bottom: 6.25rem;
	}
	.main-footer .footer-social a {
		margin-right: 7%;
	}
	.main-footer .copyright-container .copyright {
		display: block;
		margin: 0 0 1.25rem 0;
	}
	.contact .hero {
		padding: 150px 0 50px;
	}
	.contact .contact-form .cf7-form {
		padding: 0 50px;
	}
	.contact .g-map {
		padding: 0 0 50px;
		display: flex;
		justify-content: center;
	}

	.it-blocks-holder .item:not(:last-child) {
		margin: 0 20px 30px;
	}
	.it-blocks-holder .item {
		margin: 0 20px;
	}
	.enterprise .hero .logo-container img {
		padding: 0 33px;
	}
	.enterprise .hero .title {
		font-size: 24px;
	}
	.enterprise .hero-banner a {
		padding: 9px;
	}
	.enterprise .hero-banner .item .title {
		font-size: 10px;
		line-height: 15px;
		padding: 20px 0;
	}
	.enterprise .deployment .block-holder .col-lg-1 {
		margin-top: 100px;
	}
	.enterprise .deployment .col-lg-12 .subtitle {
		margin-bottom: auto;
	}
	.enterprise .deployment .col-lg-3 {
		margin-top: 30px;
	}
	.enterprise .deployment .block-holder .block-text {
		text-align: center;
	}
	.enterprise .deployment .link-arrow {
		display: none;
	}
	.enterprise .support .repeater .item {
		margin: 15px;
	}
	.enterprise .support .repeater .copy {
		font-size: 15px;
		line-height: 25px;
	}
	.community .hero-container .container {
		top: 45%;
	}
	.community .hero-container .logo-container {
		margin-bottom: 30px;
	}
	.community .hero-container .title {
		margin-bottom: 20px;
	}
	.community .hero-banner .icon {
		float: unset;
		padding: unset;
		margin-bottom: 10px;
		height: 50px;
	    display: flex;
	    justify-content: center;
		align-items: center;
	}
	.community .hero-banner .icon img {
		width: 50px;
	}
	.community .hero-banner .title {
		display: block;
		font-size: 12px;
		font-weight: bold;
		line-height: 15px;
		text-align: center;
	}
	.community .block {
		padding: 100px 0;
	}
	.download-cta .main-title {
		font-size: 32px;
		line-height: 39px;
	}

	.contact.ee .contact-form {
		padding: 50px 15px;
	}

	.download .block.one .abstract {
		padding-right: 35px;
	}
	.video.modal .vimeo iframe {
		width: 512px;
		height: 320px;
	}

	.more-orange .item {
		width: 90px;
		height: 120px;
	}
	.more-orange .icon {
		height: 55px;
	}
	.more-orange .text {
		font-size: 11px;
	}
	.iub_content li {
		min-width: 580px;
	}
	.iub_content .for_boxes {
		min-width: 630px;
	}
	.iub_content .unstyled {
		min-width: 580px;
	}
	.iub_content .box_primary {
		min-width: 630px;
	}
	.versus .hero-banner a {
		text-align: center !important;
	}
	.versus .hero-banner .title {
		display: grid;
		line-height: 32px;
	}
}

@media only screen and (max-width: 991px) {
	.navbar.darkerNav {
		background: #FFF;
	}
	.navbar,
	.navbar .container {
		padding: 0;
		max-width: unset;
	}
	.navbar .navbar-toggler {
		margin-right: 20px;
		margin-left: auto;
	}
	.navbar .nav-logo {
		margin-left: 20px;
	}
	.navbar .menu-container {
		background: #FFF;
	}
	.navbar .menu-container .nav {
		display: block;
	}
	.navbar .menu-container .nav-link {
		color: #202951;
		padding: 15px 25px;
		border-top: 1px solid #E8E8E8;
	}
	.navbar .menu-container ul.nav li.dropdown:hover ul.dropdown-menu {
		display: contents;
	}
	.navbar .dropdown-menu li {
		border-top: 1px solid #E8E8E8;
		background-color: #F3F5F7;
		padding-left: 30px;
	}
	.navbar .menu-container .button {
		max-width: unset;
		border-radius: unset;
		top: unset;
		width: 100%;
	}
	.navbar .menu-container .button-container .nav-link {
		color: #FFF;
		text-align: center;
		border-bottom: none;
	}
}

@media only screen and (max-width: 768px) {
	.homepage-hero {
		margin: 0 1.25rem;
		padding: 0;
	}
	.homepage-hero .banner-link b {
		display: block;
	}
	.hero-title-phrase {
		font-size: 24px;
		line-height: 36px;
	}
	.homepage-hero .hero-subtext {
		font-size: 15px;
		line-height: 22px;
		width: 100%;
	}
	.homepage-hero .repeater.top {
		margin: 6.25rem 0 0;
	}
	.navbar .nav-logo img {
		max-width: 145px;
	}
	.homepage-hero .hero-bg-image img {
		width: 100%;
	}
	.it-blocks-holder .item .copy ul {
		padding-left: 40px;
	}
	.main-footer .footer-social {
		margin-bottom: 30px;
	}
	.homepage-hero .vimeo iframe {
		width: 100%;
	}
	.homepage-hero .placeholder img {
		width: 100%;
		height: 100%;
	}
	.hero-banner.secondary .icon img {
		margin: auto;
		width: auto;
	}
	.hero-banner.secondary .main-title {
		font-size: 12px;
		line-height: normal;
	}
	.global-banner .text {
		width: 100%;
	}
	.global-banner .icon {
		display: none;
	}
	.email-contact {
		width: 100%;
	}
	.email-contact input[type="submit"] {
		position: relative;
		border-radius: 5px;
		width: 100%;
		right: 0;
	}
	.email-contact input[type="email"] {
		width: 100%;
		margin-bottom: 10px;
	}
	.community-metrics .card-content:first-child {
		border-right: none;
		border-bottom: 1px solid #B5BCC1;
	}
	.demo-banner .cta-wrapper {
		width: unset;
	}
	.community-metrics .card-content img.main-illustration {
		height: auto;
		width: 100%;
	}
	.container.community-metrics {
		margin: 3.5rem auto 0;
    	width: unset;
	}
	.customers .case-study-wrapper .customer-card {
		max-width: unset;
		flex: unset;
	}
	.homepage-hero .repeater .item-container:not(:first-child) , .case-study-wrapper .customer-card:not(:first-child) {
		margin-left: 0;
		margin-top: 1.25rem;
	}
	.layers .value-prop {
		margin: 0 1.25rem;
	}
	.value-prop .title {
		font-size: 24px;
		line-height: 32px;
	}
	.value-prop .description {
		font-size: 13px;
		line-height: 20px;
		width: auto;
		text-align: left;
	}
	.value-prop .value-prop-list {
		display: block;
		flex-wrap: unset;
	}
	.value-prop-list .row {
		flex-grow: unset;
		flex-basis: unset;
		width: 100%;
		margin-bottom: 1.25rem;
	}
	.contact-form .cf7-form,
	.contact-form .map,
	.contact-form .address {
		padding: 20px;
	}
	.footer-cta .button,
	.footer-cta .button.secondary {
		float: unset;
		margin: auto;
		margin-bottom: 20px;
	}
	.footer-cta {
		background-image: linear-gradient(to bottom left, #FF6E42, #322965);
	}
	.footer-cta .mobile-cta-links {
		display: block;
	}
	.main-footer .social-icons {
		margin-left: auto;
		margin-right: auto;
	}
	#platform-cta .button-container {
		display: none;
	}
	.footer-cta .button {
	    padding: 15px 0;
	}
	.resources .hero-banner.secondary .icon {
		padding: 0;
	}
	.resources .hero .hero-resources .col-md-4 {
		margin: 25px;
	}
	.resources .hero-banner.secondary .row {
		margin: 20px -20px;
	}

	.enterprise .hero-banner {
		display: none;
	}
	.enterprise .advanced-features .repeater,
	.enterprise .support .repeater {
		margin: 0 10px;
	}
	.enterprise .advanced-features .repeater .col {
		width: 325px;
		margin-bottom: 20px;
	}
	.enterprise .support .repeater .item {
		height: 320px;
	}
	.enterprise .support .item .icon {
		height: max-content;
		transform: unset;
		top: 50px;
		left: 0;
		right: 0;
	}
	.enterprise .support .item .main-title {
		height: max-content;
		top: 150px;
		left: 25px;
		right: 25px;
	}
	.enterprise .support .item .copy {
		height: max-content;
		top: 240px;
		left: 25px;
		right: 25px;
	}
	#community-contribute-page .hero-banner .item { 
		flex: unset;
		margin-bottom: 20px;
	}
	#community-contribute-page .it-blocks .accordion-container {
		padding-left: 10px;
		padding-right: 10px;
	}
	#community-contribute-page .contributor-program .col.item {
		margin: 0 15px 20px;
		flex: unset;
	}
	#community-contribute-page .hero-banner .center-container {
		margin: 0 10px;
	}
	.community .hero-container .logo-container {
		padding: 0 54px;
	}
	.community .hero-container .logo-container img {
		width: inherit;
	}
	.community .hero-container .title {
		font-size: 24px;
		font-weight: 600;
		line-height: 40px;
	}
	.community .hero-container .title.subtitle {
		line-height: 28px;
		font-size: 16px;
		font-weight: 500;
		padding: 17px 10px 0;
	}

	.success-stories .banner-section .header-text {
		display: block;
		-ms-flex: unset;
		flex: unset;
		max-width: unset;
	}

	.company-gallery .card {
		flex: unset;
	}

	.contact .contact-form .section-title {
		margin-bottom: 30px;
	}
	.contact .contact-form .address {
		padding: 20px 0 0;
	}

	.about .block.four .col {
		padding: 0 50px;
	}
	.about .block.four .copy.left ul {
		float: left;
		margin-bottom: unset;
	}

	.comparison .block.three .item {
		margin: 0 25px 30px;
	}

	.contact.ee .contact-form .container {
		padding: 50px 40px;
	}

	.download .block.one .preview {
		margin: 0 auto 25px;
	}
	.download .block.one .abstract {
		padding-left: 35px;
	}
	.more-orange .item {
	    width: 50%;
	    height: 62px;
	    margin: 0 auto 30px;
	}

	.more-orange .item-holder {
		display: inline-block !important;
	}

	.more-orange .item-holder > a {
		float: left;
		width: 50%;
		margin-bottom: 30px;
	}

	.more-orange .icon {
		height: 50px;
	}
	.iub_content li {
		min-width: 400px;
	}
	.iub_content .for_boxes {
		min-width: 450px;
	}
	.iub_content .unstyled {
		min-width: 400px;
	}
	.iub_content .box_primary {
		min-width: 450px;
	}
}

@media only screen and (max-width: 576px) {
	.it-blocks-holder .block .copy ul {
		padding-left: 20px;
	}
	.main-footer .footer-social svg {
		width: 1.2em;
		height: 1.3em;
	}
	.main-footer .footer-social a .yb-slack {
		height: 1.2em;
	}
	.hero-banner.secondary .main-title {
		font-size: 10px;
	}
	.comparison .hero .title {
		font-size: 24px;
		line-height: 40px;
		padding: 100px 13% 20px;
	}
	.comparison .hero .subtitle {
		line-height: 28px;
	}
	.comparison .block .copy p {
		padding: 0 10px;
	}
	.contact .contact-form .container {
		border-radius: unset;
	}
	.contact .contact-form {
		padding-bottom: 0;
	}

	.comparison .table-section table {
		display: none;
	}
	.comparison .table-section .disclaimer {
		display: none;
	}
	.comparison .block.one .link-arrow {
		text-align: left;
	}

	.contact.ee .contact-form {
		padding: 50px 0;
	}
	.contact.ee .contact-form .container {
		padding: 50px 20px;
	}
	.contact.ee .contact-form .wpcf7-list-item {
		width: 90%;
	}
	.more-orange .item {
    	width: 50%;
	    height: 62px;
	    margin-bottom: 30px;
	}
	.more-orange .icon {
		height: 40px;
	}
	.enterprise .hero {
		padding: 50px 0;
	}
	.iub_content li {
		min-width: 340px;
	}
	.iub_content .for_boxes {
		min-width: 390px;
	}
	.iub_content .unstyled {
		min-width: 340px;
	}
	.iub_content .box_primary {
		min-width: 390px;
	}
	
	.video.modal .vimeo iframe {
		width: 256px;
		height: 160px;
	}
	.versus .vc_section > .vc_row {
		margin: 0;
	}
}

@media only screen and (max-width: 480px) {
	.homepage-hero .repeater li {
		font-size: 22px;
	}
	.global-banner .d-flex {
		justify-content: unset;
	}
	.global-banner .text,
	.global-banner a {
		font-size: 16px;
		padding: 0 5px;
	}
	.footer-cta .client-holder .image-container img {
		width: 8vw;
	}
	.main-footer .footer-social a {
		margin-right: 6%;
	}
	.hero-banner.secondary .main-title {
		font-size: 8px;
	}
	.hero-banner.orange .title {
		font-size: 14px;
		line-height: 18px;
	}
	.about-main .wrapper {
		padding: 30px 0;
	}
	.comparison .hero .subtitle br {
		display: none;
	}
	.resources .hero-banner.secondary .row {
		height: 80px;
	}
	.resources .main .item-container.case-studies .item,
	.resources .main .item-container.yugabyte-in-the-news .item {
		max-width: unset;
		min-width: unset;
	}
	.resources .main .case-studies .item .image,
	.resources .main .yugabyte-in-the-news .item .image {
		height: 60px;
	}
	.resources .main .item-container.events .image-container {
		width: unset;
		margin: 0 10px;
	}
	.resources .main .item-container.events .image-container .main-title {
		font-size: 18px;
	}
	.resources .main .item-container.events .item {
		width: unset;
		min-width: 236px;
		margin: 0 10px 30px;
	}

	.block.orange-bg .col {
		margin: 0 40px;
		padding: unset;
	}

	.home .global-banner .d-flex a:after {
		left: 2%;
	}

	.community .hero-banner {
		padding: 14px 0;
		height: 110px;
	}
	.community .hero-banner .title {
		font-size: 10px;
	}
	.community .block.four .image img {
		height: auto;
		width: 100%;
		padding: 0 35px;
	}

	.comparison .it-blocks .section-title {
		font-size: 28px;
		line-height: 34px;
	}
	.comparison .block.two .section-title {
		font-size: 28px;
		line-height: 34px;
	}
	.comparison .block.three .section-title {
		font-size: 28px;
		line-height: 34px;
	}

	.contact .contact-form .cf7-form {
		padding: 0 15px;
	}
	.contact.ee .hero .subtitle {
		margin: 20px 21px 0;
	}
	
	.download .block.one .container {
		padding: 100px 25px;
	}
	.download .block.one .abstract {
		padding: 0 10px;
	}
	.download .block.one .dl-form {
		margin: unset;
		padding: 0 10px;
	}
	.more-orange .item {
	    height: 62px;
	    margin: 0 auto 30px;
	}
	.more-orange .icon {
		height: 33px;
	}
	.enterprise .advanced-features,
	.enterprise .support {
		padding: 50px 0;
	}
	.enterprise .advanced-features .repeater,
	.enterprise .support .repeater {
		margin: 0;
	}
	.iub_content li {
		min-width: 200px;
	}
	.iub_content .for_boxes {
		min-width: 250px;
	}
	.iub_content .unstyled {
		min-width: 190px;
	}
	.iub_content .box_primary {
		min-width: 250px;
	}
}

@media only screen and (max-width: 420px) {
	.homepage-hero .repeater li {
		font-size: 20px;
	}
	.global-banner .row {
		line-height: 50px;
		min-width: unset;
	}
	.global-banner .text,
	.global-banner a {
		font-size: 14px;
	}
	.hero-banner.secondary .icon img {
	    width: 32px;
	    height: 32px;
	}
	.resources .hero-banner.secondary .row {
    	height: 60px;
	}
	.comparison .hero .title {
		padding: 100px 8% 20px;
	}
}

@media only screen and (max-width: 362px) {
	.comparison .hero .title {
		padding: 100px 0px 20px;
	}
	.comparison .hero .subtitle {
		padding: 0 0px 50px;
	}
	.comparison .it-blocks .it-blocks-holder .item,
	.comparison .block.three .it-blocks-holder .item {
		min-width: unset;
		margin: 0 10px 30px;
	}
	.hero-banner.orange .item {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	.more-orange .item {
		width: 50px;
		height: 50px;
		padding: 10px;
	}
	.more-orange .icon {
		height: 28px;
	}
	.resources .hero .hero-resources .col-md-4 {
		margin: 15px;
		max-width: unset;
	}
}

@media (min-width: 1400px), (max-width: 750px) {
	.home .customers .customer-testimonial {
		margin-bottom: 125px;
	}
}

@media (min-width: 768px) {
	section.layers .value-prop-list .text-right.col-3 {
		max-width: fit-content;
	}
}